{% extends 'base.html' %}

{% block head %}
<title>List des Utilisateurs</title>
    <!-- Bouton modifier mon profil -->
    <a href="{{ url_for('update_user', id=current_user.id) }}">
        <button type="button">⚙️ Mon profil</button>
    </a>
{% endblock %}

{% block body %}
<div class="content">
    <h2>Liste des utilisateurs</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                <a href="{{ url_for('update_user', id=user.id) }}">✏️</a>
                <a href="{{ url_for('delete_user', id=user.id) }}"
                onclick="return confirm('Supprimer cet utilisateur ?')">❌</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">⬅ Retour</a>
</div>
{% endblock %}
